*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,'poppins';
}
body{
    background: #fff;
}
h1{
    font-size: 150px;
    font-weight: 900;
    text-align: center;
    background-image: url(https://media.tenor.com/MzLFToDrmJgAAAAM/diwali.gif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
